:root {
  --light-blue: #53c1e6;
}

body {
  line-height: 1.5;
}

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-blue);
  border-style: dashed;
  margin-bottom: 2%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  padding: 40px 20px;
  font-size: 300%;
}

header ul {
  display: flex;
  flex-wrap: nowrap;
}

header li {
  padding: 0 40px;
  justify-content: space-between;
  text-decoration: underline;
}

header li:hover {
  color: white;
  cursor: pointer;
  font-weight: bold;
}

/* About Me */

.about-me {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-shrink: 2;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 5px;
  margin-left: 30px;
  min-width: auto;
  min-height: auto;
}

.about-me h2 {
  text-align: left;
  font-size: 200%;
  padding-bottom: 10px;
  padding-left: 10px;
}

.about-me p {
  font-size: 100%;
  margin: 10px;
  width: 50%;
}

.about-me img {
  box-shadow: 20px 20px 20px #7c838a;
  align-self: flex-end;
  margin-right: 200px;
  margin-top: -200px;
  flex-shrink: 2;
}

#rounded-corners {
  border-style: solid;
  border-radius: 25px;
  border-width: 2px;
}

.work-hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--light-blue);
  color: white;
  font-size: 150%;
  height: 300px;
  width: 100%;
  padding: 5px;
  margin: 30px;
  text-align: center;
  background-image: url(/assets/images/code.jpeg);
}

.work-hero:hover {
  opacity: 0.7;
}

.work-hero h3:hover {
  text-decoration: underline;
  cursor: pointer;
}

.work-example {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2%;
}

.work-example-left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: fit-content;
  border: 2px solid;
  margin: 1%;
}
