/* :root {
  --light-blue: #53c1e6;
  --white: white;
} */

body {
  line-height: 1.5;
}

h1 {
  padding: 40px 20px;
  font-size: 300%;
}

.modalLink {
  color: white
}

/* My Work Section */
.left-align  {
  text-align: left !important;
}

.center-align  {
  text-align: center !important;
}

.work-example-card:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.7;
}


/* Media Queries for Responsive Design*/

